---
import { Icon } from 'astro-iconify'

export interface Props {
    icon: string;
    url: string;
    title: string;
    target?: string;
    css?: string;
}

const {icon, url, title, target = "_blank", css } = Astro.props;
---

<a href={url} target={target} class="relative group">
    <Icon 
      name={icon} 
      title={title}
      width="28" 
      hight="28" 
      class={`${css} inline`}
    />
</a>